<div class="page-container">
  <section class="text-section">
    <h1>Development of housing costs</h1>
    <p>
      This data visualization project tries to highlight how the share of housing costs has developed over the last 10
      years.
      All data was taken from eurostat.
    </p>
    <button mat-flat-button color="primary" [routerLink]="['/dashboard']">Go to dashboard</button>
    <h2>Most important terms</h2>
  </section>
  <section class="chart-section">
    <h2>How to read the charts</h2>
    <p>The visualtization can be split into two parts: the ciruclar bar charts and a bubble chart.</p>
    <p>The data in the explanation charts is not real.</p>
    <div>
      <h3>Circular bar chart</h3>
      <div class="housing-costs-tile-container">
        <app-housing-costs-tile [housingCosts]="demoHousingCosts" [maxY]="maxY"></app-housing-costs-tile>
        <div class="explanation">
          <p>
            For each European country a ciruclar bar chart displays the share of the housing costs of the country's
            average disposable income for the years from 2011-2019.
          </p>
          <p>
            When hovering over a bar the percentage and the year are displayed.
          </p>
          <p>
            Clicking on a bar displays how the housing costs for this year are made up.
          </p>
        </div>
      </div>
    </div>
    <div>
    </div>
  </section>
</div>