/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

$config: mat-typography-config(
  $font-family: "'Noto Sans', sans-serif",
);

@include mat-core($config);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans sans-serif";
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer, Edge */
  user-select: none; /* Chrome, Opera */
}
