$vertical-padding: 24px;
$xs-vertical-padding: 16px;

$xl-horizontal-padding: 600px;
$lg-horizontal-padding: 380px;
$md-horizontal-padding: 48px;
$sm-horizontal-padding: 24px;
$xs-horizontal-padding: 16px;

$max-xs-width: 599px;
$max-sm-width: 1023px;
$max-md-width: 1439px;
$max-lg-width: 1919px;
